.header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 2.5rem;
    background-color: black;
    color: #fff;

    &__authPanel {
        display: flex;
        gap: 2px;
    }
}